/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar Styles */

.logo {
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  padding: 10px;
}

nav {
    background-color: #012368;
    color: #fff;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Form Container */
form {
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Form Labels */
label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

/* Form Inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Form Submit Button */
input[type="submit"] {
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    background-color: #03aac2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #012638;
}

/* Heading Styles */
h2 {
    color: #333;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 0.5rem 0;
    }

    form {
        padding: 1.5rem;
    }

    input[type="submit"] {
        width: 100%;
    }
}
